.container {
    margin: 0;
    padding: 0;
}

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url("../../../public/images/wallpaper.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background::after {
    content: "";
    background-color: white;
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0.65;
}

.title {
    position: relative;
    margin: 0;
    padding: 4px 0 8px 0;
    font-family: "Fredoka One", cursive;
    color: black;
    text-align: center;
}

.subtitle {
    position: relative;
    margin: 0 0 8px 8px;
    padding: 0;
}

.white{
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 6;
}

.tomori {
    background-image: url("../../../public/images/tomori.gif");
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
}

.pruebaa {
    position: relative;
    background-color: black;
    padding: 6px;
    margin: 4px;
    border-radius: 8px;
}

.prueba {
    display: none;
}

@media (min-width: 768px) {
    .tomori {
        display: none;
    }

    .pruebaa {
        position: relative;
        background-color: black;
        padding: 16px;
        margin: 8px;
        cursor: pointer;
        border-radius: 8px;
    }

    .prueba {
        display: block;
        position: absolute;
        overflow: hidden;
        color: white;
        background-color: black;
        inset: auto 0 0 0;
        padding: 4px;
        border-radius: 8px;
        text-align: center;
    }
}
